.contact_page {

    flex-grow: 9;
    margin: 10em auto auto;
    display: flex;
    gap: 100px;
    flex-direction: row;
}
.contacts_continainer{
    color: white;
    width: 100%;
}

.contacts {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 768px) {
    .contact_page {
        /* justify-content: center; */
        /* width: 100%; */
        margin: 1em auto auto;
    }
}