/* @import url("https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@400;500;600;700&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Sigmar&display=swap");
@import url(./about.css);
@import url(./contact.css);

body {
  font-family: "Sigmar", cursive;
  padding: 0;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  background: #000000;
}

.main {
  display: flex;
  position: relative;
  justify-items: center;
  flex-direction: row;
  justify-self: start;
  width: 80%;
  margin-left: auto;
  margin-right: auto;

  /* align-items: center; */
}

.my-image {
  width: 100%;
  display: flex;
}

.main_page {
  flex-grow: 8;
  width: 100%;
  margin: 0em auto auto;
}

.profile {
  width: 100;

  display: flex;
  justify-items: center;
  align-items: center;
  gap: 50px;
  flex-direction: row;
}

.profile-image {
  width: 250px;
  border: 3px solid white;
  height: 250px;
  border-radius: 50%;
}

.skills_continainer {
  color: white;
  width: 100%;
  margin: 5em auto auto;
  display: grid;
  grid-template-columns: 4;
  grid-template-rows: 3;
  gap: 100px;
}

.skills {
  /* margin-top: 50px; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 50px 50px;
  grid-template-rows: 4;
}

.my-image img {
  margin: 10px 0;
  width: 80%;
  text-align: center;
  border-radius: 0.5rem;
}

.skill {
  position: relative;
  display: inline-block;
  /* border-bottom: 1px dotted white; */
}

.skill .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: white;
  color: #555;
  font-size: 14px;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: -100%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
  border: 1px solid #fff;
}

.tooltiptext h5 {
  padding: 5px;
  color: white;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background: #56e !important;
  font-size: 18px;
  margin: -6px;
}

.skill .tooltiptext p {
}

.skill .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.skill:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.intro {
  font-size: 24px;
  animation: slowIn 1s ease-in-out 1s 1 reverse both;
}

.role {
  font-size: 18px;
}

.side {
  flex-grow: 3;
  width: 300px;
}

.side_menu {
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10em auto auto;
  width: 100px;
  background: #605959;
}

.side_menu-item {
  padding: 25px;
}

.side_menu-item a {
  transition: 1s;
  color: white;
  transition: 1s;
  margin: auto;
  text-align: center;
  font-size: 32px;
}

.side_menu-item a i {
  transform: rotate(-360deg);
  transition: 1s;
}

.active {
  color: yellow !important;
}

a:hover {
  color: black !important;
  transition: 1s;
}

a:hover i {
  transform: rotate(360deg);
  transition: 1s;
}

@keyframes slowIn {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slow {
  0% {
    transition: 1s;
    transform: rotate(360deg);
  }

  50% {
    transition: 1s;
    transform: translateY(200px);
  }

  100% {
    transition: 0s;
    transform: rotate(0deg);
  }
}

@media screen and (max-width: 768px) {
  .main {
    width: 100%;
    flex-direction: column;
    justify-items: center;
    align-items: center;
  }

  body {
    margin-bottom: 50px;
  }

  .profile {
    width: 100;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
  }
  .intro h1 {
    text-align: center;
  }
  .intro h2 {
    text-align: center;
  }
  .side {
    width: 100%;
    flex-grow: none;
  }

  .my-image {
    width: 100;
    margin-right: auto;
    margin-left: auto;
  }

  .side_menu {
    border-radius: 0px;
    background-attachment: fixed;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto auto;
    width: 100%;
    background: #000;
  }

  .skills_continainer {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 0 auto auto;
    gap: 10px;
  }

  .skills {
    display: grid;
    justify-content: center;
    grid-template-columns: 50px 50px 50px;
    column-gap: 80px;
    row-gap: 20px;
    grid-template-rows: 50px 50px;
  }

  .skill {
    position: relative;
    display: inline-block;
    /* border-bottom: 1px dotted white; */
  }

  .menu-icon {
    font-size: 16px;
  }

  .skill .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: white;
    color: #555;
    font-size: 14px;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
    border: 1px solid #fff;
  }
}
